@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Tables Style Sheet
   Author: Allesandra Sams-Jones
   Date:   6/1/2021

   Filename:         mi_tables.css

*/

/* Table Styles */

table {
   background: linear-gradient(rgb(190,215,255),black);
   border: solid gray;
}

th,td {
border: solid gray 3px;
line-height: 1.4em;
font-weight: normal;
}
/* Column Styles */



/* Table Header Styles */











