@charset "utf-8";

/*
   Allesandra's Personal Web Page
     
   PHCT Layout Styles
   Filename: allesandra_layout.css

*/

/* Body Styles */

body {
	margin: auto;
	width: 95%;
	max-width: 1020px;
	min-width: 640px;
	box-sizing: border-box;
}

 h1, h3, img, ul, p {
	 margin-left: 15px;
	 margin-top: 15px;
	}

	h2 {
		padding: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: 15px;
	}


/* Navigation List Styles */


/* Section Styles */

section {
	clear: right;
}

/* Description List Styles */


